<template name="teddie">
<div class="page-header">
	<h1>Welcome to TEDDIE</h1>
	<h4><b>T</b>ool for <b>E</b>nhanced <b>D</b>octrine <b>D</b>isplay and <b>I</b>nformation <b>E</b>mphasis</h4>
</div>

{{#each categories}}
	<h3>{{category}}</h3>
	<div class="row">
		{{#each doctrines}}
			<div class="col-sm-6 col-md-4" style="margin-bottom: 50px">
				<a href="/d/{{slug}}">
					<img class="center-block img-rounded img-thumbnail" style="width:163px; height: 163px" src="img/{{slug}}.png">
				</a>
				<div class="caption">
				<h3 class="text-center"><a href="/d/{{slug}}">{{name}}</a></h3>
				<p class="text-center"><em>{{links}}</em></p>
				</div>
			</div>
		{{/each}}
    </div>
{{/each}}
</template>
