<template name="srprequests">
<h3>Offe Anträge</h3>
<table class="table table-bordered table-striped">
<thead>
	<tr>
		<th>Datum</th>
		<th>Ersteller</th>
		<th>Link</th>
		<th>FC</th>
		<th>Fleettyp</th>
		<th>Kommentar</th>
		<th></th>
	</tr>
</thead>
<tbody>
	{{#each openRequests}}
		<tr>
			{{>srprow}}
			<td>
				<button class="btn btn-sm btn-success accept">
					<i class="glyphicon glyphicon-ok"> Accept</i>
				</button>
				<button class="btn btn-sm btn-danger deny">
					<i class="glyphicon glyphicon-remove"> Deny</i>
				</button>
			</td>
		</tr>
	{{/each}}
</tbody>
</table>
<hr/>
<h3>Archived Requests</h3>
<table class="table table-bordered table-striped">
<thead>
	<tr>
		<th>Datum</th>
		<th>Ersteller</th>
		<th>Link</th>
		<th>FC</th>
		<th>Fleettyp</th>
		<th>Kommetar</th>
		<th>Status</th>
		<th width="80px"></th>
	</tr>
</thead>
<tbody>
	{{#each archivedRequests}}
		<tr class="{{statusRow}}">
			{{>srprow}}
			<td><span class="label {{srpStatusLabel}}">{{status}}</span></td>
			<td>
				<button class="btn btn-sm btn-warning reset">
				<i class="glyphicon glyphicon-repeat"></i> Reset
				</button>
			</td>
		</tr>
	{{/each}}
</tbody>
</table>
</template>

<template name="srprow">
	<td>{{date}}</td>
	<td>{{creator}}</td>
	<td><a href="{{link}}" target="_blank">{{link}}</a></td>
	<td>{{fc}}</td>
	<td><span class="label {{srpTypeLabel}}">{{type}}</span></td>
	<td>{{comment}}</td>
</template>