img.fourierIcon {
	height: 32px;
	width: 32px;
	margin-right: 4px;
}

span.settings:hover {
	cursor: pointer;
}

span.settings .popover {
	left: -268px; top: -38px;
	display: block;
	cursor: auto;
}
span.settings .popover.hidden {
	display: none;
}

label {
	font-weight: normal;
}

div.ewar {
	display:inline-block;
	position: relative;
}

div.ewar span.strength {
	position: absolute;
	font-size: x-small;
	bottom:0px;
	right:4px;
}