<template name="doctrines">
<div class="row">
<div class="col-md-8 col-md-offset-2">
{{#each categories}}
	<h3>{{category}}</h3>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr>
				<th style="width:58px">Img</th>
				<th>Name</th>
				<th>Links</th>
				<th>Public</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each doctrines}}
			<tr>
				<td><a href="doctrines/{{slug}}">
					<img style="width:48px; height: 48px" src="/img/{{slug}}.png"/>
				</a></td>
				<td><a href="doctrines/{{slug}}">{{name}}</a></td>
				<td><em>{{links}}</em></td>
				<td>{{#if public}}
						<span class="label label-success"><i class="glyphicon glyphicon-ok"></i></span>
					{{else}}
						<span class="label label-danger"><i class="glyphicon glyphicon-remove"></i></span>
					{{/if}}
				</td>
				<td class="text-right">
					<a href="/doctrines/{{slug}}" class="btn btn-default">
						Fits
					</a>
					<a href="/doctrines/edit/{{_id}}" class="btn btn-warning">
						<i class="glyphicon glyphicon-pencil"></i> Edit
					</a>
					<button class="btn btn-danger delete">
						<i class="glyphicon glyphicon-trash"></i> Delete
					</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
{{/each}}
</div>
</div>
</template>