<template name="ewar">
<div class="btn-group btn-group-sm" role="group">
	<button class="btn btn-sm btn-default plusEwar" data-target="webs" data-value="0.6">
		+ Web
	</button>
	<button class="btn btn-sm btn-default minusEwar" data-target="webs">
		- Web
	</button>
</div>
<div class="btn-group btn-group-sm" role="group">
	<button class="btn btn-sm btn-default plusEwar" data-target="tps" data-value="0.375">
		+ TP
	</button>
	<button class="btn btn-sm btn-default plusEwar" data-target="tps" data-value="0.6857">
		+ strong TP
	</button>
	<button class="btn btn-sm btn-default minusEwar" data-target="tps">
		- TP
	</button>
</div>
{{#each data.webs}}
	<div class="ewar">
		<img src="/img/fourier/web.png" class="fourierIcon" />
		<span class="strength">
			{{percent this}}
		</span>
	</div>
{{/each}}
{{#each data.tps}}
	<div class="ewar">
		<img src="/img/fourier/tp.png" class="fourierIcon" />
		<span class="strength">
			{{percent this}}
		</span>
	</div>
{{/each}}
</template>