<template name="footer">
<div class="container" style="margin-top:40px;">
	<p class="text-center" >
	    <a href="https://github.com/lunedis/teddie"><span class="label label-primary">TEDDIE</span></a> &COPY; by <a href="https://gate.eveonline.com/Profile/Mikokoel">Mikokoel</a> / <a href="https://github.com/lunedis">lunedis</a> 2015
	</p>
	<hr/>
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
			<p class="text-center text-muted"><small>EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. CCP hf. has granted permission to PRIM to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, PRIM. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.</small></p>
	    </div>
	</div>
</div>
</template>
