<template name="navigation">
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">FOURIERv2</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/">TEDDIE</a></li>
			<li><a href="/doctrines">Doctrines</a></li>
			<li><a href="/views">Views</a></li>
			<li><a href="/presets">Presets</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
            	{{>loginButtons}}
            	<!--
            <li id="login-dropdown-list" class="dropdown">
            	{#if currentUser}}

            	{{else}}
				<a class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
				<div class="dropdown-menu">
					<input id="login-username" type="text" placeholder="Username" class="form-control">
					<input id="login-password" type="password" placeholder="Password" class="form-control">
					<button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-ldap" type="button">Sign in</button>
				</div>
				{{/if}}
			</li>-->
        </ul>
    </div>
</nav>
</template>
